<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.name }}</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>Price: £{{ item.price }}</p>
    <img src="{{ url_for('static', filename=item.image) }}" alt="{{ item.name }}" width="300">
    <p>Product Details:</p>

    <form method="POST">
        {{ form.hidden_tag() }}
        <p>{{ form.quantity.label }}</p>
        <p>{{ form.quantity(size=5) }}</p>
        <p>{{ form.submit() }}</p>
    </form>

    
    <a href="{{ url_for('galleryPage') }}">Back to Gallery</a>
</body>
</html>
